<div class="container">
  <div class="row">
    <div class="containerSettings">
      <div class="col-md-4 col-sm-6">
        <img src="assets/no_avatar.png"/>
      </div>
      <div class="col-md-8 col-sm-6">
        <h3>Account Settings</h3>

        <label>Current password
          <input type="password"/>
        </label>
        <label>New password
          <input type="password"/>
        </label>
        <label>Confirm new password
          <input type="password"/>
        </label>
        <a routerLink="/accountSettings" routerLinkActive="active" class="savePass">Save new password</a>
      </div>
    </div>
  </div>
</div>