<div class="container">
  <div class="row">
    <div class="containerSettings">
      <div class="col-md-4 col-sm-6">
          <img src="assets/no_avatar.png"/>
      </div>
      <div class="col-md-8 col-sm-6">
        <h3>Account Settings</h3>

        <p>Email:<span>bennismartijn@gmail.com</span></p>
        <p>Name:<span>Martijn Bennis</span></p>
        <p>Occupation:<span>Student at De Haagse Hogeschool</span></p>

        <a routerLink="/changePass" routerLinkActive="active" class="savePass">Change your password</a>
      </div>
    </div>
  </div>
</div>